<div class="container-fluid">
  <div class="row d-flex p-3">
      <span class='spacer'></span>
      <h1>{{ "header.title" | translate}}</h1>      
      <span class='spacer'></span>
      <div class="languages">
        <img src="../../assets/french-flag.png" alt="francais" (click)="useLanguage('fr')">
        <img src="../../assets/british-flag.png" alt="english" (click)="useLanguage('en')">
        <img src="../../assets/romanian-flag.png" alt="romanian" (click)="useLanguage('ro')">
      </div>
  </div>
</div>