<div class="container-fluid">
  <div class="row d-flex header">

    <img class='dentistIcon' src="../../assets/dentist.png" alt="">

    <h1>{{ "header.title" | translate}}</h1>

    <div class="languages flex-item">
      <img class="clickFlag" src="../../assets/french-flag.png" alt="francais"
        (click)="useLanguage('fr')">
      <img class="clickFlag" src="../../assets/british-flag.png" alt="english"
        (click)="useLanguage('en')">
      <img class="clickFlag" src="../../assets/romanian-flag.png"
        alt="romanian"
        (click)="useLanguage('ro')">
    </div>
  
  </div>
</div>