.options {
    justify-content: space-between;
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.75);
    z-index: 50;
}

.alert-box {
    position: absolute;
    top: 5vh;
    left: 20vw;
    width: 60vw;
    padding: 15px;
    min-height: 200px;
    z-index: 100;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba( 0, 0, 0, 0.25);
}

.tooth {
    box-shadow: 0 2px 8px rgba( 0, 0, 0, 0.25);
    border-radius: 100px;
    cursor: pointer;
    margin: 5px;
}

.photoIvan {
    border-radius: 10px;
    height: 25vh;
    float: right;
}

.width50 {
    width: 50%;
}

@media (max-width: 400px) {
    .docBtn {
        width: 80%;
    }
    .closeBtn {
        width: 20%;
    }
}

@media (max-width: 1100px) {
    .tooth {
        border-radius: 5px;
    }
}

@media (max-width: 750px) {
    .alert-box {
        position: fixed;
        top: 5vh;
        left: 5vw;
        width: 90vw;
        padding: 10px;
    }
    .responsiveColumn {
        flex-direction: column;
    }
    .width50 {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .options {
        width: 100%;
        flex-wrap: wrap;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .tooth {
        width: 45%;
    }
    .backdrop {
        overflow-y: initial !important;
    }
    .alert-box {
        height: 550px;
        overflow-y: scroll !important;
    }
}

@media (max-width: 400px) {
    .docBtn {
        width: 100%;
    }
    .closeBtn {
        width: 100%;
        margin-top: 2px;
    }
}