<div class="col-12 d-flex options">

  <div class="tooth">
    <img src="../../assets/tooth-brush.png" alt="tooth-brush">
    <h5>Services</h5>
  </div>

  <div class="tooth">
    <img src="../../assets/dental-care.png" alt="dental-care">
    <h5>Contact</h5>
  </div>

  <div class="tooth">
    <img src="../../assets/implant.png" alt="implant">
    <h5>Opening hours</h5>
  </div>

  <div class="tooth">
    <img src="../../assets/toothpaste.png" alt="toothpaste">
    <h5>Map</h5>
  </div>

</div>
