<div class="col-12 d-flex options">

  <div class="tooth">
    <img src="../../assets/tooth-brush.png" alt="tooth-brush"
      (click)='services()' style='cursor: pointer;'>
    <h5 (click)='services()' style='cursor: pointer;'>Services</h5>

  </div>

  <div class="tooth">
    <img src="../../assets/dental-care.png" alt="dental-care"
    (click)='contact()' style='cursor: pointer;'>
    <h5 (click)='contact()' style='cursor: pointer;'>Contact</h5>
  </div>

  <div class="tooth">
    <img src="../../assets/implant.png" alt="implant"
    (click)='gallery()' style='cursor: pointer;'>
    <h5 (click)='gallery()' style='cursor: pointer;'>Gallery</h5>
  </div>

  <div class="tooth">
    <img src="../../assets/toothpaste.png" alt="toothpaste"
    (click)='map()' style='cursor: pointer;'>
    <h5 (click)='map()' style='cursor: pointer;'>Map</h5>
  </div>

</div>
<!-- Services Data -->
<div class="backdrop" *ngIf="serviceText"></div>
<div class="alert-box" *ngIf="serviceText">
  <!-- <h5>{{ 'services.header1' | translate }}</h5>
  <p>{{ 'services.p1' | translate }}</p>
  <p>{{ 'services.p2' | translate }}</p>
  <p>{{ 'services.p3' | translate }}</p>
  <p>{{ 'services.p4' | translate }}</p>
  <hr>
  <h5>{{ 'services.header2' | translate }}</h5>
  <p>{{ 'services.p5' | translate }}</p>
  <p>{{ 'services.p6' | translate }}</p>
  <p>{{ 'services.p7' | translate }}</p>
  <p>{{ 'services.p8' | translate }}</p>
  <hr>
  <h5>{{ 'services.header3' | translate }}</h5>
  <p>{{ 'services.p9' | translate }}</p> -->
  <p>Uncomment above when done the ngx translate</p>
  <div class="alert-box-actions">
    <button class='btn btn-primary' (click)='services()'>Close</button>
  </div>
</div>

<!-- Contact Data -->
<div class="backdrop" *ngIf="contactData"></div>
<div class="alert-box" *ngIf="contactData">
  <!-- <button class='btn btn-secondary' (click)='gotoDoctolib()' style='width:
  100%;'>{{ 'contact.button' | translate }}</button>
<br>
<br>
<h5>{{ 'contact.header1' | translate }}</h5>
<p>{{ 'contact.p1' | translate }}</p>
<p>{{ 'contact.p2' | translate }}</p>

<hr>
<h5>{{ 'contact.header2' | translate }}</h5>
<p>{{ 'contact.p3' | translate }}</p>
<p>{{ 'contact.p4' | translate }}</p>
<hr>
<h5>{{ 'contact.header3' | translate }}</h5> -->
  <p>Uncomment above when done the ngx translate</p>
  <div class="alert-box-actions">
    <button class='btn btn-primary' (click)='contact()'>Close</button>
  </div>
</div>

<!-- Gallery Data -->
<div class="backdrop" *ngIf="galleryData"></div>
<div class="alert-box" *ngIf="galleryData">
  <p>Uncomment above when done the ngx translate</p>
  <div class="alert-box-actions">
    <button class='btn btn-primary' (click)='gallery()'>Close</button>
  </div>
</div>

<!-- Map Data -->
<div class="backdrop" *ngIf="mapData"></div>
<div class="alert-box" *ngIf="mapData">

  <!-- <app-map></app-map>
<br>
<h5>{{ 'contact.header4' | translate }}</h5>
<p>{{ 'contact.p5' | translate }}</p>
<p>{{ 'contact.p6' | translate }}</p>
<p>{{ 'contact.p7' | translate }}</p>
<h5>{{ 'contact.header5' | translate }}</h5>
<p>{{ 'contact.p8' | translate }}</p>
<h5>{{ 'contact.header6' | translate }}</h5>
<p>{{ 'contact.p9' | translate }}</p>
<p>{{ 'contact.p10' | translate }}</p> -->
  <p>Uncomment above when done the ngx translate</p>
  <div class="alert-box-actions">
    <button class='btn btn-primary' (click)='map()'>Close</button>
  </div>
</div>
