<div class="col-12">
  <div class="about-box">

    <img
      src="https://res.cloudinary.com/doctolib/image/upload/q_auto:eco,f_auto,w_1024,h_700,c_limit/l2rd5xakeo0jiu4dywyi.jpg"
      alt="Chirurgien-dentiste">
    <h5>Votre chirurgien dentiste...</h5>
    <P>Le docteur Laura Ivan vous reçoit dans son cabinet au 4 rue Chateauneuf à
      Nice du lundi au vendredi.</P>

    <p>Au cours des six dernières années, le docteur Ivan a obtenu les diplômes
      prestigieux de Warwick University et de l'Université d'Oxford. Elle a
      également obtenu un diplôme d'esthétique du visage à Londres.</p>

    <p>Notre philosophie est d'offrir des soins dentaires sans douleur, dans une
      atmosphère détendue et plaisante pour nos patients.</p>

    <p>e bien-être de nos patients est au coeur de nos préoccupations, nous nous
      assurons de leur donner le meilleur service possible.</p>

    <p>Nous utilisons les technologies les plus avancées en matière de soins
      dentaires : un fauteuil de dernière génération avec option siège massant,
      écran numérique, et encore plus de fonctions qui offrent un confort
      optimal pour nos patients.</p>

    <p>Nous utilisons les technologies les plus avancées en matière de soins
      dentaires : un fauteuil de dernière génération avec option siège massant,
      écran numérique, et encore plus de fonctions qui offrent un confort
      optimal pour nos patients.</p>

  </div>
</div>
