<div class="col-12">
  <div class="about-box">
    <img
      src="https://res.cloudinary.com/doctolib/image/upload/w_1024,h_700,c_limit/l2rd5xakeo0jiu4dywyi.jpg"
      alt="Chirurgien-dentiste">
    <h5>{{ 'presentation.header' | translate}}</h5>
    <p>{{ 'presentation.p1' | translate}}</p>
    <p>{{ 'presentation.p2' | translate}}</p>
    <p>{{ 'presentation.p3' | translate}}</p>
    <p>{{ 'presentation.p4' | translate}}</p>
    <p>{{ 'presentation.p5' | translate}}</p>
    <p>{{ 'presentation.p5' | translate}}</p>
  </div>
</div>
