/* You can add global styles to this file, and also import other style files */
.tooth img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tooth {
  padding-top: 10px;
  width: 250px;
  align-content: center;
  text-align: center;
  background: white;
  opacity: 0.9;
}